* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: "Candal", sans-serif;
  font-weight: 400;
  color: white;
}

.head {
  display: flex;
  padding: 35px;
  background-color: #52525221;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid red;
}

.tabla {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tabla__conteiner {
  display: grid;
  font-size: 0.8em;
  background-color: #7a7a7a;
  color: rgb(38, 38, 38);
  width: 90%;
  letter-spacing: 1.5px;
  max-width: 550px;
  height: 500px;
  padding: 20px;
  margin-bottom: 30px;
  border-left: 3px solid red;
  border-right: 3px solid red;
  box-shadow: 2px 2px 20px 8px rgb(79, 78, 78);
}

.tabla__text {
  margin-left: 20px;
  padding: 20px;
  user-select: none;
}

.nigth-change {
  background-color: rgba(255, 0, 0, 0.194);
  box-shadow: 3px 3px 30px red;
  font-size: 25px;
  cursor: pointer;
}

.nigth-change:hover {
  color: red;
}

.tabla__cambiar {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.tabla__cambiar:hover {
  color: red;
}

.tabla__convertidor {
  font-size: 20px;
  line-height: 70px;
  position: relative;
}

.tabla__buttom {
  padding: 1em 2em;
  border-radius: 10px;
  font-family: inherit;
  color: white;
  font-size: 16px;
  margin: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: green;
  cursor: pointer;
}

.tabla__buttom--cambiar:hover {
  background-color: rgb(148, 130, 28);
}

.autor {
  text-align: center;
}

.name__autor {
  color: red;
}

.name__autor:hover {
  text-decoration: none;
  color: white;
}

.tabla__kelvin {
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 30px;
  background-color: #7a7a7a;
  border-bottom: 3px solid rgb(95, 9, 9);
}

.tabla__celsius {
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 30px;
  background-color: #7a7a7a;
  border-bottom: 3px solid #5f0909;
}

.tabla__kelvin::-webkit-inner-spin-button,
.tabla__kelvin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tabla__celsius::-webkit-inner-spin-button,
.tabla__celsius::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tabla__kelvin:not(:placeholder-shown) + .input_kelvin {
  transform: translateY(-20px) scale(0.7);
  transform-origin: top left;
}

.tabla__celsius:not(:placeholder-shown) + .input_celsius {
  transform: translateY(-20px) scale(0.7);
  transform-origin: top left;
}

.tabla__label {
  color: rgba(79, 32, 23, 0.633);
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 0px;
  text-align: center;
  user-select: none;
}

img {
  width: 20px;
}

.kelvin {
  color: red;
}

#celsius,
#kelvin {
  font-family: inherit;
  color: rgba(47, 47, 47, 0.99);
}
